{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}
    <style>
        body {
            background-color: #580505;
        }

        div {
            text-align: left;
            color: yellow;
        }

        label {
            color: yellow;
        }


        .container {
            display: flex;
            align-items: center;
            justify-content: left
        }

        img {
            max-width: 100%
        }

        .image {
            flex-basis: 50%
        }

        .text {
            padding-left: 10px;
        }
    </style>


    <body>

    <div class="container">
        <div class="image">
            <img style="margin-top: 50px" src="../static/foto_test_2.jpg">
        </div>

        <div class="text">
            <h1>About </h1>
            <p>We are Enikö and Ionut.</p><br>
            <p>We are pilots, software developer and software engineer, vegans for the animals, for the planet and for the future of humanity.</p><br>
            <p>We love good food, motorcycling, we love nature and animals.</p><br>
            <hr>

            <h4 align="center">Get in touch with us</h4>
            <form method="post" action="{% url 'about_page' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>
                            {{ form.name.label_tag }}
                            {{ form.name }}
                            {{ form.name.errors }}
                        </td>
                        <td rowspan="0">
                            <label for="description">Your message:</label>
                            <textarea class="form-control" id="description" name="description" rows="8"></textarea>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            {{ form.organization.label_tag }}
                            {{ form.organization }}
                            {{ form.organization.errors }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
            <hr>
        </div>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    </body>

{% endblock %}
