{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}
    <style>
        body {
            background-color: rgb(102, 51, 0);
        }

        div {
            text-align: center;
            color: aquamarine;
        }

        label {
            color: aquamarine;
        }

        h4 {
            color: aquamarine;
        }

        .container { 
            display: flex;
            align-items: center;
            justify-content: center
        }

        img {
            max-width: 100%
        }

        .image {
            flex-basis: 50%
        }

        .text {
        padding-left: 10px;
        }
    </style>


    <body>

    <div class="container">
        <div class="image">
            <img style="margin-top: 50px" src="../static/foto_test_2.jpg">
        </div>

        <div class="text">
            <h1>About </h1>
            <p>this is 1 paragraph</p><br>
            <p>this is 2 paragraph</p><br>
            <p>this is 3 paragraph</p><br>
            <hr>
            <h4 align="center">Get in touch with us</h4>
            <table>
                <tr>
                    <td>
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder=" Your Name">
                    </td>
                    <td rowspan="0">
                        <label for="description">Project Description:</label>
                        <textarea class="form-control" id="description" name="description" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="organization">Organization:</label>
                        <input type="text" class="form-control" id="organization" name="organization"
                               placeholder="Your Organization">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="Your Email Address">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </td>
                </tr>
            </table>
            <hr>
        </div>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    </body>

{% endblock %}


