<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2 style="text-align: center; color: red; "></h2style>We sent your message</h2>
    <p> You can send another in the <a href=" {% url 'contactform' %}">Contact Form</a></p>
</body>

</html>