{% extends 'base.html' %}

{% block title %} Reset password {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Reset Password</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type='submit' class="btn btn-outline-warning">Save</button>
                            <a href="{% url "about_page" %}" class='btn btn-outline-secondary'>Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>



{% endblock %}