{% extends 'base.html' %}


{% block title %} Change password {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Change password</h3>

                    </div>
                    <div class="card-body">
                        <p class="text-center">Password changed successful</p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'home_page' %}" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}