{% extends 'base.html' %}

{% block title %} Ingredients in this store - {{ store }} {% endblock %}

{% block content %}
    <style>
    body {
            background-color: peachpuff;
        }
    </style>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <div class="card-header">
                    Ingredients in the store : {{ store.name }}
                </div>
                <div class="card-body">
                    {% with store.ingredients as list %}
                        {% for i in list.split %}
                            {{ i }}<br>
                        {% endfor %}
                    {% endwith %}
                    <a href="{% url 'list-of-stores' %}" class="btn btn-secondary">Go back to list of stores</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
