{% extends 'base.html' %}

{% block title %} List of stores{% endblock %}

{% block content %}
    <style>
        body {
            background-color: peachpuff;

        }

        .card {
            padding: 1px;
            text-align: left;
            background-color: papayawhip;
            color: maroon;

        }

        .card-text {
            font-style: italic;
            font-palette: dark;
            color: maroon;
        }
        .btn {
            background-color: papayawhip;

        }
        .btn:hover {
            color: wheat;
        }

    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Filters</h3>
                    </div>
                    <form method="GET">
                        <div class="card-body">
                            {{ form_filters.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Search</button>
                            <a href="{% url 'list-of-stores' %}" class="btn btn-outline-danger">Reset</a>
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-md-8">

                {% for store in all_stores %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="row"> {% endif %}
                <div class="col-md-4">
                    <div class="card border-primary mb-3">
                        <div class="card-header">{{ store.name }}</div>
                        <div class="card-body text-primary">
                            <p class="card-text">
                                <b>Category:</b> {{ store.category }} <br>
                                <b>Location:</b> {{ store.location }}<br>
                            </p>


                        {% if perms.store.change_store or store.delete_store %}
                            <div class="dropdown">
                                <button class="btn btn-outline-success dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    more actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                           href="{% url 'update-store' store.id %}">Update</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="{% url 'delete-store' store.id %}">Delete</a></li>
                                </ul>
                            </div>
                        {% endif %}
                        <a class="btn btn-outline-secondary" href="{% url 'details-store' store.id %}">Ingredients
                            in this store</a>
                    </div>
                </div>
                </div>  <!-- end for one card -->
                {% endfor %}
            </div>
            {% if forloop.counter|divisibleby:3 or forloop.last %}</div><br>{% endif %}
    </div><!-- end division for row -->
    </div>
{% endblock %}

