{% extends 'base.html' %}

{% block title %} Update {{ store }} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class ='row'>
            <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Update - {{ store }} </h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-success">Update</button>
                        <a href="{% url 'list-of-stores' %}" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

{% endblock %}
