{% extends 'base.html' %}

{#{% block title %} Details - {{ ingredient }} {% endblock %}#}

{% block content %}
    <style>
    body {
        background-color: peachpuff;
    }
    </style>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <div class="card-header">
                    Details - {{ ingredient.name }}
                </div>
                <div class="card-body align-right">
                    <p class="card-header align-right">description:</p>
                    <p class="text">{{ ingredient.description }}</p>
                    <p align="left">
                    <button type="submit" class="btn btn-outline-success" onclick="history.back()">Return to list</button>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
