{% extends 'base.html' %}

{% block title %} Shopping list {% endblock %}

{% block content %}

    <style>
        body {
            background-color: peachpuff;
        }

        h1 {
            color: darkolivegreen;
        }

        .btn {
            background-color: darkolivegreen;
            color: pink;
        }


    </style>


    <body>

    <h1> Shopping list:</h1>


    <table class="table" id="ShoppingListTable">
        <tbody>
        {% for item in shoppingList %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item }}</td>
                <td><a href='{% url 'clear-grocery-list-item' item %}'>
                    <button class="btn btn-secondary">Remove</button>
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'list-of-ingredients' %}" class="btn btn-secondary">Back</a>

    <button type="submit" class="btn btn-outline-success" onclick='handlePrint()'>Print shopping list</button>
    <script type="text/javascript">
        const handlePrint = () => {
            {#var actContents = document.body;#}
            {#document.body = actContents;#}
            window.print();
        }
    </script>

    <a href="{% url 'save-grocery-list' user.id user.username %}" class="btn btn-primary">
        Save list for {{ user.username }}
    </a>

    <a href="{% url 'load-grocery-list' user.id %}" class="btn btn-primary">
        Load saved list
    </a>

    </body>
{% endblock %}
