{% extends 'base.html' %}


{% block title %} List of ingredients {% endblock %}

{% block content %}

    <style>
        body {
            background-color: peachpuff;
        }

        div {
            text-align: left;
            color: antiquewhite;
        }

        a {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 3px;
            margin-bottom: 3px;
        }

        tr:hover {
            color: coral;
        }


        .nav a {
            background-color: green;
        }


        .btn-primary {
            background: darkgreen;
            color: lightpink;
            border: none;
        }

        .btn-info {
            background: darkred;
            color: lightpink;
            border: none;
        }

        table {
            margin-right: 20px;
            margin-left: 20px;
        }

        div {
          margin-left: 20px;
        }

    </style>

    <div class="col-md-4 mb-3">
        <div class="form-group">
            <form method="GET" action="{% url 'list-of-ingredients' %}">
                <div class="card-body">
                    {{ form_filters.as_p }}
                </div>
                <input type="text" name="name" class="form-control" placeholder="ingredient name">
                <br>
                <input type="text" name="category" class="form-control" placeholder="ingredient category">
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-outline-success">Search</button>
                    <a href="{% url 'list-of-ingredients' %}" class="btn btn-outline-danger">Reset</a>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-8">
{#        Shopping list actions:#}
        <a class="btn btn-sm btn-info" href='{% url 'grocery-list' %}'>
            View shopping list
        </a>
        <a class="btn btn-sm btn-info" href='{% url 'clear-grocery-list' %}'>
            Clear shopping list
        </a>

        <table class="table table-striped table-sm">
{#            <thead>#}
{#            <th>No.</th>#}
{#            <th>Name</th>#}
{#            <th>Category</th>#}
{##}
{#            </thead>#}
            <tbody>
            {% for ingredient in all_ingredients %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.category }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary"
                           href='{% url 'add-ingredient-to-grocery-list' ingredient.id %}'> Add to list</a>

                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary"
                           href="{% url 'details-ingredient' ingredient.id %}">View</a>
                    </td>
                    {% if perms.ingredient.update_ingredient or  perms.ingredient.delete_ingredient %}
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-outline-success dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                           href="{% url 'update-ingredient' ingredient.id %}">Update</a></li>
                                    <li><a class="dropdown-item"
                                           href="{% url 'delete-ingredient' ingredient.id %}">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

