{% extends 'base.html' %}

{% block title %} User shopping list save{% endblock %}
{% block content %}
    <body>
    <form method="post">
        {% csrf_token %}
        <input type="checkbox" name="item_list" value="item1"> Item 1<br>
        <input type="checkbox" name="item_list" value="item2"> Item 2<br>
        <input type="checkbox" name="item_list" value="item3"> Item 3<br>
        <button type="submit">Save List</button>
    </form>
    </body>
{% endblock %}