{% extends 'base.html' %}
{% block title %} User shopping list view{% endblock %}
{% block content %}
    <body>
    {% if item_list %}
        <ul>
            {% for item in item_list %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No items found.</p>
    {% endif %}
    </body>
{% endblock %}