{% extends 'base.html' %}

{% block title %} Create a new recipie {% endblock %}


{% block content %}
    <style>
    body{
        background-color: peachpuff;
    }
    h3{
        color:darkolivegreen;
    }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Create a new recipie</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}