{% extends 'base.html' %}

{% block title %} Delete - {{ recipie }} {% endblock %}

{% block content %}

 <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Delete - {{ recipie }}</h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <h2>Are you sure you want to delete {{ recipie }}?</h2>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-danger">Yes</button>
                        <a href="{% url 'list-of-recipies' %}" class="btn btn-outline-secondary">No</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
 </div>

{% endblock %}