{% extends 'base.html' %}

{% block title %} Details - {{ recipie }} {% endblock %}

{% block content %}
    <style>
        body {
            background-color: peachpuff;
            color: maroon;
        }

    </style>
    <div class="row">
        <div class="col-md-8" style="margin-left: 10px">
            <div class="card text-center">
                <div class="card-header">
                    <b>{{ recipie.name }}</b>
                </div>
                <div class="card-header">
                    <b>Ingredients:</b> {{ recipie.ingredients }}
                </div>
                <div class="card-body">
                    {{ recipie.description }}
                </div>

                <div class="btn">
                    <button type="submit" class="btn btn-outline-success" onclick='handlePrint()'>Print</button>
                    <a href="{% url 'list-of-recipies' %}" class="btn btn-secondary">Back to recipes</a>
                </div>

            </div>
        </div>
    </div>


    <script type="text/javascript">
        const handlePrint = () => {
            {#var actContents = document.body;#}
            {#document.body = actContents;#}
            window.print();
        }
    </script>



{% endblock %}