{% extends 'base.html' %}

{% block title %} List of recipies{% endblock %}


{% block content %}
    <style>

        body {
            background-color: peachpuff;
        }

        * {
            box-sizing: border-box;
        }

        /* Remove extra left and right margins, due to padding */
        .row {
            margin: 10px -10px;
        }


        /* Responsive columns */
        @media screen and (max-width: 600px) {
        }

        /* Style the counter cards */
        .card {
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.7);
            padding: 1px;
            text-align: left;
            background-color: papayawhip;
            color: maroon;

        }

        .card-text {
        {#font-style: italic;#} font-palette: dark;
            color: maroon;
        }


        /* The floats after the columns are cleared */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        div {
            margin-left: 10px;
        }


    </style>


    <div class="col-md-4 mb-2">
        <form method="GET" action="{% url 'list-of-recipies' %}">
            {{ form_filters.as_p }}
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-outline-success">Search</button>
                <a href="{% url 'list-of-recipies' %}" class="btn btn-outline-danger">Reset</a>
            </div>
        </form>
    </div>  {# end of div class #}


    <div class="col-md-9">  <!-- display cards next to the list of filters -->
        <h2 class="card-title">Recipes</h2>

        {% for recipie in all_recipies %}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="row"> {% endif %}
        <div class="col-md-3">      {#  Card, width is 4 elements, parent is 8 #}
            <div class="card border-primary mb-3" style="margin-left: 10px">
                <div class="card-header"><b>{{ recipie.name }}</b></div>

                <p class="card-text" style="margin: 5px">
                    <b>Category:</b> {{ recipie.category }} <br>
                    <b>Main ingredient:</b> {{ recipie.main_ingredients }} <br>
                    <b>Ingredients:</b> {{ recipie.ingredients }} <br>
                </p>

                {% if perms.recipie.change_recipie or recipie.delete_recipie %}
                    <div class="dropdown">
                        <button class="btn btn-outline-success dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            more actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                   href="{% url 'update-recipie' recipie.id %}">Update</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{% url 'delete-recipie' recipie.id %}">Delete</a></li>
                        </ul>
                    </div>
                {% endif %}
                <p><a class="btn btn-outline-success" style="margin: 5px"
                      href="{% url 'details-recipie' recipie.id %}">See recipe</a></p>

            </div>
        </div>      {# end for one card #}
        {% if forloop.counter|divisibleby:3 or forloop.last %}</div><br>{% endif %}
        {% endfor %}
    </div>

{% endblock %}
