<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search recipies by ingredients</title>
</head>
<body>
<title>Search recipies by ingredients</title>
{% for recipe in matched_recipes %}
    <h2>{{ recipe.title }}</h2>
    <p>{{ recipe.description }}</p>
    <!-- Display other recipe details as needed -->
{% empty %}
    <p>No recipes found.</p>
{% endfor %}
</body>
</html>