<!DOCTYPE html>
<html>
<head>
  <title>Înregistrare cont</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
    }

    h1 {
      color: #333333;
      margin-top: 0;
    }

    p {
      margin-bottom: 20px;
    }

    .button {
      display: inline-block;
      background-color: #0d316a;
      color: #ffffff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Bună ziua!, {{ fullname }}</h1>
    <p>Vă mulțumim pentru înregistrarea contului dvs.</p>
    <p>Numele de utilizator este:{{ username }} </p>

    <p>
      <a href="https://www.exemplu.com/activare" class="button">Acceseaza link cont</a>
    </p>
    <p>Dacă nu ați creat acest cont sau considerați că ați primit acest e-mail din greșeală, vă rugăm să ne contactați cât mai curând posibil.</p>
    <p>Vă mulțumim!</p>
  </div>
</body>
</html>

