{% load i18n %}
<title>{% trans "This is the title." %}</title>
{% blocktrans %}This string will have {{ value }} inside.{% endblocktrans %}

<ul id="nav">
    <a href='/'> {% trans "Ingredients" %} </a>
    <a href="{% url 'list-of-ingredients' %}" class="> {% trans "List of ingredients" %} </a>
</ul>