<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">What to cook today</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'about_page' %}">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Ingredients
                    </a>

                    <ul class="dropdown-menu">
                        {% if perms.ingredient.add_ingredient %}
                            <li><a class="dropdown-item" href="{% url 'create-ingredient' %}">Add new
                                ingredient</a>
                            </li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'list-of-ingredients' %}">List of
                            ingredients</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'grocery-list' %}">Grocery list</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Recipes
                    </a>

                    <ul class="dropdown-menu">
                        {% if perms.recipies.add_recipie %}
                        <li><a class="dropdown-item" href="{% url 'create-recipie' %}">Add new
                            recipe</a>
                        </li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'list-of-recipies' %}">List of
                            recipes</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Shopping
                    </a>

                    <ul class="dropdown-menu">
                        {% if perms.shopping.add_store %}
                        <li><a class="dropdown-item" href="{% url 'create-store' %}">Add new store</a>
                        </li>
                        {% endif %}

                        <li><a class="dropdown-item" href="{% url 'list-of-stores' %}">List of stores</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    {{ user.username }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            <a href='{% url 'login' %}' class="btn btn-outline-secondary">Login</a>
            <a href="{% url 'create-user' %}" class="btn btn-outline-secondary">Sign up</a>
        </div>
    </div>
</nav>